__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
instance/
.webassets-cache
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.retry
*.pem
*.key
secrets/
jobs/
*.tar
.env.local
.env.*.local

*.lock.hcl
*.lock